@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jay Mehta</h1>
    <p>A sample project on Asp.Net Core(Version-3.0) with the help of Entity Framework Core</p>
    <p>This Project performs all the CRUD operations</p>
    <p>For Databse SSME(SQL Server Management Studio) is being used.</p>
</div>
